{{extend 'layout.html'}}
{{=CAT(
H4(T('ВНИМАНИЕ!!! Большая просьба все же оплачивать не фиатными деньгами (рублями, долларами), а крипто-имуществом (биткоин, лайткин), так как:')),
OL(
T('Это намного быстрее - безналичные платежи в банковской системе идут около суток. В то время как крипто-имущество переводится за минуты.'),
T('Это намного надежнее - в банковской системе невозможно точно сказать где зависли деньги и кто их прокручиват - ваш или наш банк. В то время как платежи крито-имуществом видны сразу в любом броузере через независимые сайты "blockchain" (bitcoin: https://blockchain.info/  litecoin: http://ltc.block-explorer.com/). Крипто-имущество невозможно скрытно "прокрутить" и повесть лапшу на уши клиента.'),
T('Это очень удобно учесть - банковские платежи вбиваются вручную и могут быть введены с ошибками. В то время как учёт платежей крипто-имуществом полностью автоматизирован, благодаря чему Ваш платеж почти мгновенно отражается в статистиике нашего сайта.'),
T('Это намного дешевле - в банковской системе банк с Вас возьмет 20-40 рублей или около 1%. В то время как при платежах крипто-имуществом Вы платите комисиию за перевод около 1-3 рубля, а можете вообще не платить комисиий - просто ваш платеж задержится на несколько часов.'),
T('Это намного защищеннее - банк может заблокировать Ваш счет или списать средства без вашего ведома. В то время как крипто-имущество хранится на вашем компьютере и распоряжаться им можете только Вы.')
),
T('Если Вы все же рискнули платить рублями, то вот наши реквизиты:'),BR(),

H3(T('Банковские реквизиты:')),
UL(
CAT(T('ИНН'), ': %s' % settings.inn),
CAT(T('Получатель'), ': %s' % settings.name),
CAT(T('ОГРН'), ': %s' % settings.ogrn),
LI('в Московский ОАО “Сбербанк России”'),
LI('к/с 30101810400000000225 а ОПЕРУ МОСКВА, г.МОСКВА'),
LI(B('БИК 044525225')),
LI('ИНН 7707083893'),
LI(B('счет 40703810038000069886')),
),
'Если Вы уже являетесь нашим пайщиком и будете платить с банковских реквизитов, с которых Вы оплачивали вступительный взнос, то досточно в назначении платежа указать:',BR(),
B('Паевой взнос в фонд ',cod,),BR(),
BR(),
'Иначе для Вашей индентификации необходимо указать Ваш емайл:',BR(),
B('Паевой взнос в фонд ',cod,' от пайщика УКАЗАТЬ_ТУТ_СВОЙ_ЕМЭЙЛ'),BR(),
)
}}
