{{=CAT(
H3('Общие правила совершения паевых и иных взносов'),
CAT(
    DIV('Вы должны быть пайщиком общества. Если Вы еще не вступили к нам, то необходимо ',
        A('подать заяку на вступление', _href=URL('invite','index'), _targte='_blank'),
        ' указав в заявлении адреса вашего крипто-имущества, с которых Вы будете оплачивать взносы и совершать управление в обществе.',
        ),
    H4(T('Оплаты крипто-имуществом')),
        CAT('При оплате взноса в фонды крипто-имуществом (например биткоинами или лайткоинами) необходимо делать перевод с адреса, который Вы указали при регистрации. Тогда Ваш платеж будет автоматически зачислен к Вам. Иначе, если крипто-имущество пришло с адреса, который не задан в базе данных общества, оно будет начислено "неизвестному" пайщику и принято как благотворительность (и Вам надо будет подтвердить что это ваш адрес, иначе оно будет возвращено назад отправителю). Для того чтобы убедиться что Вы переводите с нужного адреса:'),
        UL(
            CAT(T('Убедитесь что ваш адрес крипто-имущества '),A(T('занесен в нашу базу данных'), _href=URL('membs','addrs')),BR()),
            CAT(T('Используйте клиент-кошелек для биткоинов '),
                A(B('MultiBit.org'), _href='http://MultiBit.org', _target='_blank'),
                T(' - он всегда сладывает сдачу на ваш единственный адрес в файле-кошельке. А так же с помощью его можно создать несколько файлов-кошельков и управлять ими не выходя.')),
            CAT(T('Если Вы используете стандартный клиент-кошелек, то настройте его следующим образом:'),
            OL(
                CAT(T('откройте вкладку "Отображение" в настройках программы и включите там галочку "управлять входами монет"'),
                BR(),IMG(_src=URL('static','images/addrs_out1.png'), _wi_dth=256), BR(), BR()),
                CAT('после чего при отправлении монет Вы сможете управлять адресами, с которых будут отправлены монеты.',BR(),IMG(_src=URL('static','images/addrs_out2.png'), _wi_dth=256), BR(), BR()),
                CAT('задайте Ваш адрес откуда спишутся монеты поставив галочку',BR(),IMG(_src=URL('static','images/addrs_out3.png'), _wi_dth=256), BR(), BR()),
                CAT('И не забудьте задать Ваш адрес для возврата "сдачи" поставив галочку',BR(),IMG(_src=URL('static','images/addrs_out4.png'), _wi_dth=256), BR(), BR()),
                ),
            'Так же можно для увеличения секретности создать на своем компьютере нового пользователя, например с именем Polza и установить для него программы-кошельки крипто-имущества, в которых будет создан ваш адрес крипто-имущества.'
            ),
        ),
    H4(T('Оплаты фиатными деньгами (рубли, доллары, евро)')),
    UL(
        'При оплате с банковского счета обязательно указывать в назначении платежа слова "паевой взнос в" и далее код паевого фонда куда Вы хотите сделать взнос. Если Ваш банк в назначении платежа не допускает символы подчеркивания (которые есть в кодах программ), замените их на  точки.',
        'Если Вы платите взнос не с того счета, с которого Вы оплатили вступительный взнос, то для правильной идентификации Вас необходимо указать Ваш емайл адрес, кототрый Вы указывали при регистрации на нашем сайте, например так: "паевой взнос в p37_dep от пайщика my_adr@mail.ru"',
    )
)
)}}
