{{extend 'layout.html'}}
{{=H3('Вступление в потребительское общество')}}
Что дает вступление в общество? Смотрите -
{{=A('О выгодах', _href=URL('default', 'profit'))}} вступления в общество.<br>
<br>
Вступая в потребительское общество (ПО) Вы соглашаетесь с Уставом ПО и его Положениями. Вступление в ПО - есть оплата вступительного взноса.<br>
<br>
Вступительный взнос - 500 рублей (не возвращаемый, идет на нужды учета общества).<br>
Минимальный паевой взнос (для получения голоса на общих собраниях общества) - 7000 рублей (возвращаемый). Вы можете вносить паевые взносы в любом количестве и в любое время, так же как и возвращать их. От величины паевого взноса зависит величина кооперативных выплат, начисляемых Вам от прибыли общества по окончании года. Максимальная величина паевого взноса не ограничена.<br>
Более подробно о взносах можно узнать из Устава и Положений общества (см. раздел {{=A('Документы', _href=URL('default','docs'))}}).<br><br>
{{=CAT(
    'Вы можете стать партнером без каких-либо взносов, то есть даже не оплачивая вступительный взнос. Но тогда вознаграждения за приглашения других людей по вашему "подарочному коду" будут небольшие. И для того чтобы получать выплаты Вы должны указать свой адрес крипто-имущества (биткоин или лайткон) сейчас (во время этой регистрации). Тогда Вы сразу получаете свой персональный код партнера (он же подарочный код для ваших приглашений) и можете по нему приглашать своих друзей.',BR(),
    'Если Вы потом захотите стать пайщиком нашего общества, то просто в любой момент оплатите вступительный взнос.',BR(),
    BR(),H4('Действия для вступления'),
    OL(
    'Последовательно заполните формы, приведенные ниже',
    'Получите письмо по электронной почте и согласно описанию в письме оплатите вступительный взнос. Вступительный взнос может быть оплачен только в рублях по безналичному переводу со своего личного банковского счета на счет общества.',
    CAT('После поступления взноса, мы вышлем Вам письмо с дальнейшей информацией. Так же Вы сможете найти себя в списке ',
    A('"ассоциативные пайщики"', _href=URL('membrs','list', args=[1]), _targte='_blank'),
    ' что подтверждает принятие Вас в пайщики общества'),
    'Внесите паевой взнос(ы) в течении 30 дней в любой фонд(ы) общества в любом виде имущества (деньгами, крипто-имуществом) так чтобы общая сумма Ваших паевых взносов была не менее размера минимального паевого взноса. Тогда вы становитесь полноправным пайщиком общества с правом голоса.',
        ),
form,
)}}
