<html>
    {{=CAT(
    'Здравствуйте!',BR(),
    'Возможно Вы или кто-то другой решил вступить в Инновационное потребительское общество "Польза"',BR(),
    'Если Вы этого не делали, просто проигнорируйтн это письмо.',BR(),
    BR(),
H3(CAT('Для открытия страницы используйте ', A('ССЫЛКУ', _href=URL('pay', args=request.args, scheme='http', host='ipo-polza.ru')),' ')),BR(),
T('Оплатите вступительный взнос в размере %s рублей для получателя:') % f_invite.inv, BR(),
settings.name, BR(),
'ИНН: ', settings.inn,BR(),
'ОГРН: ', settings.ogrn,BR(),
A(B(T('Другие реквизиты')), _href=URL('default','docs')), BR(),
'назначение платежа: "вступительный взнос от %s"' % rec.email,BR(),
'на один из ниже приведенных реквизитов:',BR(),
BR(),
)}}
{{for r in b_accs:}}
{{=T('БИК')}}: {{= r.bik }}<br>
{{=T('счет')}}: {{= r.acc }}<br>
<br>
{{pass}}
<br>
{{=T('Одновременно Вы можете оплатить паевой взнос, в размере не менее %s рублей. Тогда сумма платежа будет составлять %s рублей, а в назначении платежа нужно указать: "вступительный и паевой взносы  (в фонд "КОД_ФОНДА") от %s"') % (f_invite.min_, f_invite.min_ + f_invite.inv, rec.email)}}<br>
{{=T('Коды фондов и их описание можно посмотреть в ')}}
{{=A(B(T('список фондов')), _href=URL('progs','index', scheme='http', host='ipo-polza.ru'))}}<br>
Внимание! Некоторые банки не пропускают в назначении платежа спец.символы @ _ и другие - просьба вместо них ставить точку и дефис.<br>
<br>
{{=T('Если Вы хотите оплатить паевой взнос крипто-имуществом (например биткоин или лайткоин), то Вам достаточно оплатить рублями только вступительный взнос.')}}<br>
{{=T('После поступления вступительного взноса Вы будете приняты в пайщики, о чем будет сообщено Вам на емайл, в котором Вы так же получите свой реферальный код, используя который Вы сможете зарабатывать на приглашениях в общество новых пайщиков.')}}<br>
<br>
{{=H4(T('Красивый код партнера (подарочный код)'))}}
Сейчас, пока еще мало участников в нашем обществе, есть возможность получить себе красивый код партнера - например как Ваш ник или логин в интернете. Для этого достаточно в назначении платежа вступительного взноса указать желаемый код партнера (не более 10 символов).<br>
<br>
    С уважением, администррация сайта
    {{=A('ipo-polza.ru', _href=URL('default', 'index', scheme='http', host='ipo-polza.ru'))}}
</html>
