{{extend 'layout.html'}}
{{=CAT(
H4('Помошник для голосований на ROI.ru'),
'Если Вам надоело голосавать по каждой инициативе вручную, предлагаем Вам скрипт для автоматического голосования на ROI.ru - для этого не нужно ни где регистрироваться или вводить свои секретные данные. Скрипт отлично работает с браузером Mozilla FireFox и чуть похуже с Chrome (открывающиеся окна мешают работе на компьютере).',BR(),
'Голосовалка голосует по инициативам, которые есть на странице - Вам нужно отфильтровать список инициатив так чтобы на странице остались инициативы, за которые Вы еще не голосовали желательно с федеральным уровнем',BR(),
'Голосовалка последовательно проголосует по выбранным инициативам и обновит страницу, после чего Вы должны опять дать ей команду.',BR(),
'Голосовалка умеет голосовать так же как большинство проголосовавших или можно задать вариант голосования по отдельным инициативам по вашему выбору',BR(),
IMG(_src=URL('static','files/roi/roi-auto.jpg')),BR(),
UL(
LI('Для работы с Mozilla FireFox нужно установить расширение - ',
A('greasemonkey', _href='https://addons.mozilla.org/ru/firefox/addon/greasemonkey/', _target='_blank'),
' после чего загрузить скрипт ', 
A(B('roi.user.js'), _href=URL('static','files/roi/roi.user.js'), _target='_blank')),
LI(
'Для работы с Chrome нужно скачать архив  ',
A(B('roi.zip'), _href=URL('static','files/roi.zip'), _target='_blank'),
' распаковать его и установить через "Настройки -> Расширения -> Загрузить распакованное расширение" - указать там папку куда распаковали архив.')
),
BR(),
H5('Статистика голосований на ROI.ru'),
A(_href='http://ipo-polza.ru/roi', _target='_blank'),BR(),
BR(),

H4('Наши инициативы для продвижения в жизнь принципов крипто-имущества, крипто-экономики, крипто-государства, крипто-будущего'),
H4('На сайте Россйских Общественных Инициатив (ROI.ru)'),
UL(
A('Принять новую налоговую систему', _href='https://www.roi.ru/11094/', _target='_blank'),
),
BR(),
H4('Письма в правительство'),
UL(
A('Гос.бланки отменить', _href=URL('static','docs/gos-blankii.pdf'), _target='_blank'),
),
)}}
