{{extend 'layout.html'}}
{{=CAT(
H3('У нас есть работа для Вас.'),
H4('Партнерская программа'),
H4('Поощрения за привлечение онлайн магазинов и сервисов'),
'Вы можете получить до 100 тысяч рублей за одно подключение онлайн бизнесов к нашей платежной системе cryptoPay.in. Например, если кто-то договорится с такими фирмами как Утконос или М.Видео на использование нашего биллинга - его ждет вознаграждений в 100 000 рублей! Фирмы помельче тоже вознаграждаются. Дополнительно Вы будете получать доход от комиссий: 1-й год вся сумма комиссий, 2-й год - 1/2-я, 3й-год - 1/4-я.',BR(),
A(B(T('Рекомендации для привлечения клиентов')), _href='https://docs.google.com/document/d/1tU4SWCkvzVzBCvpHcBNkb6XXD-hz7jNWgvLLMFewOBI/edit?usp=sharing'),
H4('Поощрения за привлечение друзей и знакомых'),
'Вы можете получать доход от приглашения новых пайщиков по вашему пригласительному коду (он же код партнера, он же реферальный код, он же подарочный код). Этот код Вы получаете в момент регистрации на сайте. Все что Вам нужно, это использовать свой код партнера, когда приглашаете своих друзей и знакомых вступить в наше общество. Ваш друг вступая в наше общество должен указать этот код как "подарочный код".',BR(),
'Далее, если такой приглашенный вносит паи в наше общество то за это Вы получаете награду согласно текущему ',
A(B(T('списку поощрений')), _href=URL('fonds')),' ',T('за приглашения пайщиков (партнёрская программа).'),BR(),
BR(),
'Так же уже при оплате вступительного взноса вашим приглашенным Вам сразу будет начислено:',
UL(
'300 рублей - если Вы тоже оплатили вступительный взнос и были приняты в пайщики общества;',
'150 рублей - если Вы не платили вступительного взноса (вступили как ассоциативный пайщик).',
),
'Дополнительно Вы будете получать поощрения от приглашений ваших приглашенных на несколько уровней вглубь.',BR(),
'Таким образом, Вы можете не оплачивая даже вступительного взноса начать получать доход от нашей партнёрской програмы.',BR(),
'Кстати, если новый пайщик вступая в общество вводит "подарочный код", то ему в наших программах добавляются бонусы, а Вам начисляется доход от его участия в этих программах. Например в программе вклад 37,77% подарочный код дает бонусные проценты. Причем, даже если сейчас награда за данную программу не назначена, Вы можете получить награду по окончанию года - по решению общего собрания: за трудовой вклад в развитие общества.',BR(),
'Как сказано выше, к вашему доходу от партнерской программы может быть добавлена еще плата от конкретной программы в которой участвует пайщик. ',
'Например, если пайщик участвует в программе "вклад37", то за него Вы можете получить еще от 300 до 1000р в зависимости от вклада пайщика в эту программу.',
BR(),
'Вы можете вставить свой код партнера сразу в ссылку, так чтобы переход по ней на наш сайт (на любую страницу) автоматически задал код приглашения для вашего приглашенного. Это делается добавлением параметра "gc" к ссылке. Например так:',BR(),
'ipo-polza.ru/progs/index/4?gc=Wer2St',BR(),
'ipo-polza.ru/?gc=Wer2St',BR(),BR(),
H5('Занятый график'),
UL(
'Основная работа - это привлечение инвесторов и распространение информации о нас на выставках, конференциях, семинарах, разных мероприятиях по бизнесу и интернету. ',
'Вы можете стать "начальником проекта" - если чувствуете что Вам это интересно и есть желание продвинуть проект или программу в жизнь.',
'Оплата заслуг - так же как по партнерской программе - награды за подключение и процент от комиссий.',
),
'В принципе работу "занятый график" можно делать и в "свободном режиме"...',BR(),
BR(),
BR(),
'Мы видим в наших рядах студентов и молодых специалистов без опыта работы - вливайтесь к нам!',BR(),
H4(T('Красивый код партнера (подарочный код)')),
'Сейчас, пока еще мало участников в нашем обществе, есть возможность получить себе красивый код партнера - например как Ваш ник или логин в интернете. Для этого достаточно в назначении платежа вступительного взноса указать желаемый код партнера (не более 10 символов).',
)}}
